---
const pageTitle = "About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<title>{pageTitle}</title>
	  </head>
	  <body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
		<h2>... and my new Astro site!</h2>

        <p>I am him , first of all secondly i write code for a  living and its cool at times ,but sometimes its tedious and shii.</p>

        <p>this be my first astro project its kinda simple to use and navigate almost like the dotnet framework its routing is based on pages.</p>

        <p>its remarkable how fast it renders my changes to the web as i edit and its kinda light doesnt feel complicated atleast for now.</p>
	</body>
</html>
